@import '../partials/variables.scss';
@import '../partials/mixins.scss';


.bg-light-grey {
    background-color: $bg-light-grey;
}

.card-custom {
    min-height: 350px;
    background-color: $bg-light-grey;
    // border: 1px solid #ddd;
    border-radius: 2px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-image {
        min-width: 100%;
        height: 250px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .card-body {
        padding: 16px;

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 8px;
        }

    }
}


.btn-custom {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #0056b3;
    }
}


.card-link {
    text-decoration: none;
    color: inherit;
}

// .btn-secondary {
//     background-color: #6c757d;
//     border: none;
//     color: #fff;
//     padding: 10px 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     cursor: pointer;
//     border-radius: 4px;
//     transition: background-color 0.2s;

//     &:hover {
//         background-color: #5a6268;
//     }
// }