/*variabili colore*/

//bg
$bg-white: #ffffff;
$bg-light-grey: #303030;
$bg-grey: #1C1C1C;
$bg-blue: #0282F9;

//font color
$font-white-color: #ffffff;
$font-grey-color: #5b5b5b;
$font-blue: #0282F9;

//border color
$border-blue: #0282F9;